<template name="FaView">
    <div class="col-md-12">

        <div class="auto-organigrama-container col-md-12">
            <form id="FaForm">

                {{#each fa}}

                    <div class="col-md-4">
                        Fortaleza: <span class="font-size-normalized">{{fortitude}}</span>
                        <table class="table table-bordered table-sm">
                            <thead class="thead-dark">
                            <tr>
                                <th class="col-md-11">Amenaza</th>
                                <th class="col-md-1">Calificación</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><span class="font-size-normalized">{{menace}}</span></td>
                                <td>
                                    <input type="number"   min="1" max="10" class="form-control" id="txt_{{id_fortitude}}_{{id_menace}}"  aria-label="Small" value="{{qualification}}" aria-describedby="inputGroup-sizing-sm"/>
                                </td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
</template>