<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/organigrama">
                    <i class="fa fa-sitemap"></i>Organigrama</a></li>
            <li>
                <a href="/foda">
                    <i class="fa fa-list"></i>FODA
                </a>
            </li>
            <li>
                <a href="/bcg">
                    <i class="fa fa-table"></i>Matríz BCG</a>
            </li>
            <li>
                <a href="/fodofada">
                    <i class="fa fa-list-alt"></i>Matrices FODO-FADA</a>
            </li>
            <li>
                <a href="/meb">
                    <i class="fa fa-list-alt"></i>Matríz de Estrátegia básica</a>
            </li>
            <li>
                <a href="/mebd">
                    <i class="fa fa-list-alt"></i>Matríz de Estrátegia depurada</a>
            </li>
            <li>
                <a href="/smap">
                    <i class="fa fa-list-alt"></i>Mapa Estratégico</a>
            </li>
            <li>
                <a href="/bsc_lvl_1">
                    <i class="fa fa-list-alt"></i>Bsc Nivel 1</a>
            </li>
        </ul>
    </nav>
</template>