<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/organigrama">
                    <i class="fa fa-sitemap"></i>Organigrama</a></li>
            <li>
                <a href="/foda">
                    <i class="fa fa-list"></i>FODA
                </a>
            </li>
            <li>
                <a href="/bcg">
                    <i class="fa fa-table"></i>Matríz BCG</a>
            </li>
            <li>
                <a href="/fo">
                    <i class="fa fa-list-alt"></i>Matríz FO</a>
            </li>
            <li>
                <a href="/do">
                    <i class="fa fa-table"></i>Matríz DO</a>
            </li>
            <li>
                <a href="/fa">
                    <i class="fa fa-list-alt"></i>Matríz FA</a>
            </li>
            <li>
                <a href="/da">
                    <i class="fa fa-table"></i>Matríz DA</a>
            </li>
            <li>
                <a href="/fo">
                    <i class="fa fa-list-alt"></i>Matríz de Estrátegia básica</a>
            </li>
        </ul>
    </nav>
</template>